*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping',sans-serif;
}

body{
     background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("imanges/SEN\ walnut\ slider_1500x790-1500x790.jpg");
     background-size: cover;
    
}
.container{
    margin: 5%;
}
.container h2{
    color:#fff;
    font-size: 32px;
    text-align: center;
    background-color: grey;
    border-radius: 50px;
    margin:5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
}

.row{
    width: 90%;
    max-width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.col{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10% 15%;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.col p{
    font-size: 22px;
}

.col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.col ul li{
    margin: 15px 0;
}

.col ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
} 

.col input  {
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.col input:hover{
    background: #e33058;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.tandc{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.tandc li{
    margin:0 10px
}

.tandc a{
    text-decoration: none;
    color:#fff
}


